.*{
	margin: 0px;
	padding: 0px;
}
.main{
	height: auto;
	width: 100%;
	float: left;

}
.nav-item{
	margin-left:10px;
	margin-top: 25px;
	font-weight: bold;
	font-size:19px;
}
.nav-item:hover{
	color:red;
	}
.sub_menu{
	background-color:#0e6066;
	width: 100%;

}
.img-fluid{
	height:auto;
	padding:10px;
	margin-left: 0px;
}
.carousel-item{
	height: 500px;
	width: 100%;
	padding:0px;
	margin: 0px;
}
.border_1{
	border:10px solid #0e6066;
	border-radius: 30px;
	background-color: #ECF9F6;
	z-index: 99999;
}
.aa{
	height: 300px;
	margin-top:20px;
/*	margin-top: 20px;*/
}
.ab{
	height: 150px;
}
.aaa{
	height: 280px;
	width: 200px;
}
.image{
	height: 120px;
	margin-left: 60px;
	margin-top: 50px;
	box-shadow: 20px 20px 20px 15px #135382;


}
.border_2{
	height: 250px;
	border-right:3px dotted blue;
	border-bottom:3px dotted blue;

}
.border_3{
	height: 250px;
	border-bottom:3px dotted blue;

}
.rotate{
	height:250px ;
	margin-top:20px;
	padding: 0px;
}
.image_2{
	border-radius: 20px;
	height: 150px;
}
.border_4{
	border: 2px solid black;
	border-radius: 10px;
	padding: 5px;
}
.image_3{
	border-radius: 20px;
	height: 300px;
	box-shadow: 5px 8px 0px 5px #135382;

}
.card-body{
	border: 2px dotted #135382 ;
	border-radius: 10px;
}
.image_5{
	height:200px;
	width: 250px;
	margin-top:30px;
	margin-left:10px;
	border-radius: 10px;
	border: 3px solid black;
	padding: 20px;
}
.color{
	height: 400px;
	background-color:#A6A6A6 ;
}
.image_6{
	margin-top: 100px;
	margin-left: 200px;
	margin-right:30px ;
}
.icon{
	display: inline-block;
	list-style-type: none;
	margin-top: 50px;
	float:right;
	margin-left:50px;
	margin-right:20px ;
	font-size: 28px;
	border-radius: 50%;
}
.border_11{
border-bottom:3px solid blue;
}
.fa-solid{
	font-size: 26px;
	margin-left: 200px;
}